<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/skeleton.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/simple-grid.css">

    <title>Expenses Tracker App</title>
</head>
<body class="bg-light" >
    <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
      <div class="container-fluid text-center ">
 <ul class="nav navbar-nav">
   
        <li><a class="text-center" href="/">Register</a></li>
        {{!-- <li><a class="text-center" href="/login">Login</a></li> --}}
        <li><a class="active text-center" href="/addExpense/{{user}}">Add expense</a></li>
        <li><a class="text-center" href="/expenses/{{user}}">View Expenses</a></li>
        <li><a class="text-center" href="/totalexpenses/{{user}}">View Total for expenses</a></li>

      </ul>
    </nav>
  <div class="bg-secondary px-5">

    </div>
  </div>
    {{{body}}}
</body>
</html>