<div>
   
    <form action="/addExpense/{{user}}" method="POST">
    <h3>Add expense</h3>

    <label for="">Category:</label>
    <select name="categories" id="">
        <option value="">Select</option>
        <option value="Communication" >Communication</option>
        <option value="Toiletries">Toiletries</option>
        <option value="Food">Food</option>
        <option value="Travel">Travel</option>
    </select>

    <label for="">Date:</label>
    <input type="date" id="start" name="expense_date"
       value="2022-09-27">

    <label for="">Amount:</label>
    <input type="text" name="date">

    <button type="submit">Add</button>
    </form>

     {{#if messages.success}}
      <div class="entry">
        <p id="successMessage"> {{messages.success}}</p>

      </div>
      <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000); </script>
      {{/if}}
</div>