<form action="/login/{{user}}" method="POST">
    <div class="form-group row">

         {{#if messages.success}}
            <div class="entry">
                <p id="successMessage"> {{messages.success}}</p>

            </div>
            {{/if}}

             {{#if messages.success}}
            <div class="entry">
                <p id="successMessage"> {{messages.error}}</p>
                {{!-- <script type="text/javascript">window.setTimeout("document.getElementById('successMessage').style.display='none';", 2000); </script> --}}

            </div>
            {{/if}}

        <label class="col-sm-2 col-form-label" for="">Code:</label>
        <input class="form-control" type="text" name="gen_code">

         <button type="submit">Submit</button>
    </div>

</form>