form{
    margin-left: 100px;
    margin-right:170px;
  
  }
  .box{
    margin-left: 100px;
    margin-right:170px;
    width:1000px;
    height:60px;
    /* background-color: rgb(134, 121, 121); */
  }
  table,
  th,
  td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;

  }
  /* .success{
    background-color: green;
  } */
  /* .error{
    background: rgb(223, 32, 32);
  } */